body {
  background-color: #b71b1b;
}

.App {
  height: 100vh;
  display: grid;

  /* istruzioni per la nostra griglia */

  /* piccolo margine tra una riga e l'altra */
  row-gap: 1.5rem;

  /* quante colonne (sono 3 colonne, le due esterne il 10% e quella centrale il resto */
  grid-template-columns: 10% auto 10%;

  /* quante righe (2 righe, la prima parte prenderà il 10% la seconda il resto)*/
  grid-template-rows: 10% auto;


  /* posso dare dei nomi alle varie sezioni della griglia */
  grid-template-areas:
    /* la prima parte della prima riga non avrà nome, la seconda header e la terza niente */
    '. header .'
    /* la prima parte della seconda riga non avrà nome, la seconda sarà content e la terza niente */
    '. content .';
}

.img-fluid {
  height: auto;
  max-width: 100%;
}

header {
  height: 10vh;

  /* indichiamo che si deve posizionare nell'header che abbiamo rinominato nella propietà css grid */
  grid-area: header;

  margin: 1.5rem;
  display: grid;
  grid-template-columns: 50% 50%;

  /* un modo per indicare una frazione */
  grid-template-rows: 1fr;
  justify-content: space-between;
}

.logo {
  /* proprietà di css grid che permette di allineare i contenuti di un elemento*/
  justify-self: end;
}

.leds-container {
  justify-self: start;
  display: grid;
  /* allinea il contenuto sulle colonne fin quando ci entra */
  grid-auto-flow: column;
  justify-content: start;
}

.led {
  height: 40px;
  width: 40px;
  border: 3px solid white;
  border-radius: 50px;
  margin-left: 1rem;
}

.led-blue {
  height: 80px;
  width: 80px;
  border: 5px solid white;
  background-image: linear-gradient(135deg, white 5px, blue);
}

.led-red {
  background-image: linear-gradient(135deg, white 5px, red);

}

.led-yellow {
  background-image: linear-gradient(135deg, white 5px, yellow);

}

.led-green {
  background-image: linear-gradient(135deg, white 5px, green);
}

#screen {
  margin-top: 1.5rem;
  height: 70vh;
  grid-area: content;
  border-radius: 20px;
  border: 20px solid #dedede;
  border-top-width: 40px;
  border-bottom-width: 40px;
  overflow-y: auto;
  background-image: linear-gradient(135deg, #343a40, white 3000px, #343a40);
}

#loader {
  display: grid;
  justify-items: center;
  margin: 1rem 0;
  width: 100%;
}

#loader img {
  animation-name: spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

#pokedex {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(5, 20%);
}

.poke-card {
  border-radius: 10px;
  padding: 1rem 0.5rem;
  margin: 1rem 0.5rem;
  text-align: center;
}

.poke-card figure {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50px;
  width: 120px;
  height: 120px;
  display: grid;
  margin: auto;
  align-items: center;
  justify-items: center;
}